body {
    overflow: hidden;
}

/* Form styling --------------------------------------------------------------*/

input, button, select, .toggle {
    margin: 2pt;
    vertical-align: middle;
}

input:focus, button:focus, select:focus, .toggle:focus {
    outline: 0;
}

input, button, select {
    -webkit-appearance: none;
    font-family: "Perfect DOS VGA 437", menlo, monospace;
    font-size: 10pt;
    background-color: #ffffff;
    border: 1pt solid black;
    border-radius: 5pt;
}

/* Buttons */

button, input[type="submit"] {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

button:hover:enabled, input[type="submit"]:hover:enabled {
    background-color: #f7f7f7;
}

/* Numbers and texts */

input[type="number"], input[type="text"] {
    padding: 2pt;
}

input[type="number"] {
    width: 50pt;
}

input[type="text"] {
    width: 100pt;
}

/* Dropdowns */

select {
    box-sizing: border-box;
    padding: 2pt;
    background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, black 50%, white 50%);
    background-repeat: no-repeat;
    background-size: 10pt 10pt, 10pt 10pt, 10pt, 10pt;
    background-position: right 3pt bottom;
}

.dfconfigmulti, .option, .categories {
    padding-right: 15pt;
    overflow: hidden;
}

/* Toggles */

.dfconfigbool {
    display: none;
}

.toggle {
    font-size: 12pt;
}

.yes {
    color: #66ff66;
}

.no {
    color: #ff6666;
}

/* End form styling ----------------------------------------------------------*/

/* Text styling --------------------------------------------------------------*/

body {
    font-family: menlo, monospace;
    font-size: 11pt;
}

h1 {
    font-family: "Perfect DOS VGA 437", menlo, monospace;
    font-size: 30pt;
    width: 175px;
    float: left;
    margin: 7px;
}

h2 {
    font-family: "Perfect DOS VGA 437", menlo, monospace;
}

hr {
    width: 375px;
    height: 1px;
    color: black;
    background: black;
    font-size: 0;
    border: 0;
    /*margin-bottom: 7px;*/
}

.description {
    font-family: Verdana, sans-serif;
    font-size: 12pt;
}

/* Info */

.option-info-span {
    /*vertical-align: middle;*/
}

.option-info {
    margin-left: 2pt;
    color: black;
    font-size: 10pt;
}

.option-info:hover {
    margin-left: 2pt;
    color: #0080ff;
    font-size: 10pt;
}

/* Other stuff */

.launch-df {
    box-sizing: border-box;
    float: right;
    margin: 7px;
    font-size: 32px;
    padding: 43px 5.5px 43px 5.5px;
    /*width: 190px;*/
    /*height: 130px;*/
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 3px black;
}

.launch-df:hover:enabled {
    box-sizing: border-box;
    /*background-color: #f0f3f3;*/
    box-shadow: 0px 0px 7px black;
}

.toggle-advanced-div, .reload-contents {
    text-align: center;
}

.toggle-advanced {
    margin-top: 7px;
}

.reload-contents hr {
    margin-top: 18px;
    margin-bottom: 18px;
}

/*.reload-contents {
    text-align: center;
}*/

/* Controls ------------------------------------------------------------------*/

.view-buttons {
    box-sizing: border-box;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

.view-buttons button {
    /*border: 0;*/
    border-radius: 0;
    height: 20px;
    padding: 0;
    padding-left: 8.5px;
    padding-right: 8.5px;
    margin: 0;
    margin-top: -2px;
    margin-left: -5px;
    margin-right: -5px;
}

#view-backup {
    border-radius: 5pt 0 0 5pt;
}

#view-settings {
    border-radius: 0 5pt 5pt 0;
}

.view-buttons button:focus {
    outline: 0;
}

.view-buttons button:hover {
    /*color: white;*/
    /*background-color: #0f7fff;*/
    /*background-color: #e3e3e3;*/
}

.view-buttons .active {
    color: white;
    background-color: #0d6edb;
}

.view-buttons .active:hover {
    color: white;
    background-color: #0e52cd;
    /*background-color: #e3e3e3;*/
}

/* configs */

.configs {
    height: 455px;
    overflow-y: auto;
}

.configs h2 {
    text-align: center;
}

.settings {
    margin-left: 15px;
    margin-right: 15px;
}

/* Hiding */

.hidden {
    display: none !important;
}
